[submodule "docker/work/submodules/PyOptBook"]
	path = docker/work/submodules/PyOptBook
	url = git@github.com:ohmsha/PyOptBook.git
	ignore = dirty
[submodule "docker/work/submodules/mcr-notebooks"]
	path = docker/work/submodules/mcr-notebooks
	url = git@hub.georepublic.net:georepublic/mcr-notebooks.git
	ignore = dirty
[submodule "docker/work/submodules/osmnx-examples"]
	path = docker/work/submodules/osmnx-examples
	url = git@github.com:gboeing/osmnx-examples.git
	ignore = dirty
[submodule "docker/work/submodules/geo-data-hands-on"]
	path = docker/work/submodules/geo-data-hands-on
	url = git@github.com:fin-py/geo-data-hands-on.git
	ignore = dirty
[submodule "docker/work/submodules/book-python-stats-2nd"]
	path = docker/work/submodules/book-python-stats-2nd
	url = git@github.com:logics-of-blue/book-python-stats-2nd.git
	ignore = dirty
[submodule "docker/work/submodules/ppd534"]
	path = docker/work/submodules/ppd534
	url = git@github.com:gboeing/ppd534.git
	ignore = dirty
[submodule "docker/work/submodules/ppd599"]
	path = docker/work/submodules/ppd599
	url = git@github.com:gboeing/ppd599.git
	ignore = dirty
[submodule "docker/work/submodules/auto-gis-notebooks"]
	path = docker/work/submodules/auto-gis-notebooks
	url = git@github.com:mopinfish/auto-gis-notebooks.git
	ignore = dirty
[submodule "docker/work/submodules/ppde642"]
	path = docker/work/submodules/ppde642
	url = git@github.com:gboeing/ppde642.git
	ignore = dirty
[submodule "docker/work/submodules/python_bayes_intro"]
	path = docker/work/submodules/python_bayes_intro
	url = git@github.com:makaishi2/python_bayes_intro.git
