[submodule "docker/work/submodules/PyOptBook"]
	path = docker/work/submodules/PyOptBook
	url = git@github.com:ohmsha/PyOptBook.git
	ignore = dirty
[submodule "docker/work/submodules/mcr-notebooks"]
	path = docker/work/submodules/mcr-notebooks
	url = git@hub.georepublic.net:georepublic/mcr-notebooks.git
	ignore = dirty
[submodule "docker/work/submodules/osmnx-examples"]
	path = docker/work/submodules/osmnx-examples
	url = git@github.com:gboeing/osmnx-examples.git
	ignore = dirty
[submodule "docker/work/submodules/auto-gis"]
	path = docker/work/submodules/auto-gis
	url = git@github.com:Automating-GIS-processes/notebooks.git
	ignore = dirty
[submodule "docker/work/submodules/geo-data-hands-on"]
	path = docker/work/submodules/geo-data-hands-on
	url = git@github.com:fin-py/geo-data-hands-on.git
